@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 125 44% 94%;
    --foreground: 240 10% 3.9%;
    --card: 125 44% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 125 44% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 88 52% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 125 30% 88%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 125 30% 88%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 42 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 20% 80%;
    --input: 125 20% 80%;
    --ring: 88 52% 55%;
    --chart-1: 88 76% 61%;
    --chart-2: 42 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 120 10% 10%;
    --foreground: 125 20% 90%;
    --card: 120 10% 12%;
    --card-foreground: 125 20% 90%;
    --popover: 120 10% 10%;
    --popover-foreground: 125 20% 90%;
    --primary: 88 52% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 10% 18%;
    --secondary-foreground: 125 20% 90%;
    --muted: 120 10% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 42 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 88 52% 55%;
    --chart-1: 88 76% 61%;
    --chart-2: 42 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

    